/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: "BenderRegular", 'sans-serif';
}
body {
    background: #e4e4e4 url(../img/bodyBG.png) 0 645px no-repeat scroll;
    min-width: 1000px;    
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
@font-face {
    font-family: "BenderRegular";
    src: url("../fonts/BenderRegular.eot");
    src: url("../fonts/BenderRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderRegular.woff") format("woff"),
    url("../fonts/BenderRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBold"; */
@font-face {
    font-family: "BenderBold";
    src: url("../fonts/BenderBold.eot");
    src: url("../fonts/BenderBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderBold.woff") format("woff"),
    url("../fonts/BenderBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderItalic"; */
@font-face {
    font-family: "BenderItalic";
    src: url("../fonts/BenderItalic.eot");
    src: url("../fonts/BenderItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderItalic.woff") format("woff"),
    url("../fonts/BenderItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBoldItalic"; */
@font-face {
    font-family: "BenderBoldItalic";
    src: url("../fonts/BenderBoldItalic.eot");
    src: url("../fonts/BenderBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderBoldItalic.woff") format("woff"),
    url("../fonts/BenderBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBlack"; */
@font-face {
    font-family: "BenderBlack";
    src: url("../fonts/BenderBlack.eot");
    src: url("../fonts/BenderBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderBlack.woff") format("woff"),
    url("../fonts/BenderBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBlackItalic"; */
@font-face {
    font-family: "BenderBlackItalic";
    src: url("../fonts/BenderBlackItalic.eot");
    src: url("../fonts/BenderBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderBlackItalic.woff") format("woff"),
    url("../fonts/BenderBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderLight"; */
@font-face {
    font-family: "BenderLight";
    src: url("../fonts/BenderLight.eot");
    src: url("../fonts/BenderLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderLight.woff") format("woff"),
    url("../fonts/BenderLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderLightItalic"; */
@font-face {
    font-family: "BenderLightItalic";
    src: url("../fonts/BenderLightItalic.eot");
    src: url("../fonts/BenderLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BenderLightItalic.woff") format("woff"),
    url("../fonts/BenderLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
#header {
    height: 612px;
    background: url(../img/headerBG.jpg) center center no-repeat scroll;
    width: 100%;
    position: relative;
}
#header:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 33px;
    background: url(../img/afterheader.jpg);
    position: absolute;
    bottom: -33px;
}
.topBlockWrapper {
    width: 970px;
    padding: 0 15px;
    margin: 0 auto;
    line-height: normal;
}
.topBlock .topFirstSect {
    height: 94px;
    width:100%;
    padding-top: 18px;
}
.topBlock .topFirstSect img {
    max-width: 100%;
}
.topBlock .topFirstSect .topLogo {
    float: left;
    width: 173px;
    height: 76px;
}
.topBlock .topFirstSect .companyName {
    padding-left: 33px;
    float: left;
    margin-left: 73px;
    width: 273px;
    font-size: 20px;
}
.vcard {
    float: left;
    padding-top: 20px;

}
.adr {
    float: left;
    text-align: right;
    font-size: 18px;
}
.dopInfo {
    text-align: right;
    width: 214px;
    float: left;
}
.dopInfo a {
    color:#000000;
    font-size: 16px;
    text-decoration: none;
}
.topSecondSect {
    height: 175px;
}
.topSecondSect .slogan {
    width:248px;
    font-size: 18px;
    float: left;
}
.topSecondSect .sloganAutor {
    font-size: 12px;
    display: block;
}
.topSecondSect .search {
    float: left;
    height: 41px;
    margin-left: 33px;
    margin-top: 13px;
    background: #148755;
    background: -moz-linear-gradient(top, #148755 0%, #07452a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148755), color-stop(100%,#07452a));
    background: -webkit-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -o-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -ms-linear-gradient(top, #148755 0%,#07452a 100%);
    background: linear-gradient(to bottom, #148755 0%,#07452a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148755', endColorstr='#07452a',GradientType=0 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.topSecondSect .search .searchInput {
    width: 197px;
    height: 31px;
    margin: 4px 0px 4px 4px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    border-right: 1px solid #9fcdbc;
    padding-left: 16px;
    float: left;
    padding-top: 0px;
    padding-bottom: 2px;
}
.searchInput::-webkit-input-placeholder {
    font-family:"BenderItalic", 'sans-serif';
    font-size: 18px;
    margin-bottom: 2px;
}
.searchInput::-moz-placeholder          {
    font-family:"BenderItalic", 'sans-serif';
    font-size: 18px;
    }/* Firefox 19+ */
.searchInput:-moz-placeholder           {
    font-family:"BenderItalic", 'sans-serif';
    font-size: 18px;
    }/* Firefox 18- */
.searchInput:-ms-input-placeholder {
    font-family:"BenderItalic", 'sans-serif';
    font-size: 18px;
}
.search .wSelect-theme-classic.wSelect {
    width: 140px!important;
    height: 33px;
    margin-top: 4px;
    border:none!important;
    float: left;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    border: 0px;
}
.wSelect .wSelect-selected, .wSelect .wSelect-options-holder {
    font-size: 18px;
    font-family: "BenderRegular", 'sans-serif';
    text-transform: lowercase;
    width: 140px!important;
}
.wSelect-arrow {
    background-image: url(../img/arrowSearch.png)!important;
    background-position: center center!important;
}
.wSelect-theme-classic.wSelect-hover, .wSelect-theme-classic.wSelect-active {
    border:none!important;
    box-shadow: none!important;
}
.wSelect-theme-classic .wSelect-option-selected, .wSelect-theme-classic .wSelect-option:hover {
    background-color: #CBCBCB!important;
    color: #FAFAFA;
}
.searchButton {
    float: left;
    float: right;
    width: 104px;
    height: 33px;
    margin: 4px; 
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:none;
    background: #fffb97; /* Old browsers */
    background: -moz-linear-gradient(top,  #fffb97 0%, #ffed73 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffb97), color-stop(100%,#ffed73)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fffb97 0%,#ffed73 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fffb97 0%,#ffed73 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fffb97 0%,#ffed73 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fffb97 0%,#ffed73 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffb97', endColorstr='#ffed73',GradientType=0 ); /* IE6-9 */
    font-family: "BenderRegular", 'sans-serif';
    font-size: 18px;
}
.topButton {
    font-family: "BenderLight", 'sans-serif';
    float: right;
    margin-top: 21px;
    width: 157px;
    height: 27px;
    background: #148755;
    background: -moz-linear-gradient(top, #148755 0%, #07452a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148755), color-stop(100%,#07452a));
    background: -webkit-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -o-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -ms-linear-gradient(top, #148755 0%,#07452a 100%);
    background: linear-gradient(to bottom, #148755 0%,#07452a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148755', endColorstr='#07452a',GradientType=0 );
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    padding-top: 7px;
    /*border-top: 1px solid #9cffd4;*/
    -webkit-box-shadow: inset 0px 1px 0px #68E4AE;
    -moz-box-shadow: inset 0px 1px 0px #68E4AE;
    box-shadow: inset 0px 1px 0px #68E4AE;
}
.topMenu {
    font-family: "BenderLight", 'sans-serif';
    height: 48px;
    font-size: 18px;
    background: #148755;
    background: -moz-linear-gradient(top, #148755 0%, #07452a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148755), color-stop(100%,#07452a));
    background: -webkit-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -o-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -ms-linear-gradient(top, #148755 0%,#07452a 100%);
    background: linear-gradient(to bottom, #148755 0%,#07452a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148755', endColorstr='#07452a',GradientType=0 );
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    -webkit-box-shadow: inset 0px 1px 0px #68E4AE;
    -moz-box-shadow: inset 0px 1px 0px #68E4AE;
    box-shadow: inset 0px 1px 0px #68E4AE;
    /* border-top: 1px solid #9cffd4;*/
    position: relative;
    z-index: 11;
}
.topMenu {
    /*margin-top: 120px;*/
}
.mainMenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mainMenu li {
    float: left;
}
.mainMenu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 163px;
    position: relative;
    padding: 14px 0px 13px;
}
.mainMenu li:nth-child(4) a {
    width:160px;
}
.mainMenu li:last-child a {
    width: 158px;
}
.mainMenu li:last-child a{
    
    -webkit-border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    border-radius: 0px 6px 6px 0px;
}
.mainMenu li:first-child a{
   
    -webkit-border-radius: 6px 0px 0px 6px;
    -moz-border-radius: 6px 0px 0px 6px;
     border-radius: 6px 0px 0px 6px;
}
.mainMenu li a:hover, .mainMenu li .active {
    background: #169d5d; /* Old browsers */
    background: -moz-linear-gradient(top,  #169d5d 0%, #11582e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#169d5d), color-stop(100%,#11582e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #169d5d 0%,#11582e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #169d5d 0%,#11582e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #169d5d 0%,#11582e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #169d5d 0%,#11582e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#169d5d', endColorstr='#11582e',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0px 1px 0px #68E4AE;
    -moz-box-shadow: inset 0px 1px 0px #68E4AE;
    box-shadow: inset 0px 1px 0px #68E4AE;

}
.mainMenu li a:after {
    content: ' ';
    position: absolute;
    height: 98%;
    width: 1px;
    background: #0d874c; /* Old browsers */
    background: -moz-linear-gradient(top,  #0d874c 0%, #0d894e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d874c), color-stop(100%,#0d894e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0d874c 0%,#0d894e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0d874c 0%,#0d894e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0d874c 0%,#0d894e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0d874c 0%,#0d894e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d874c', endColorstr='#0d894e',GradientType=0 ); /* IE6-9 */
    right: 0;
    top: 1px;
}
.mainMenu li:last-child a:after {
    background:none;
}
.searchSel {
    display: none;
}
.mainSlider {
    width: 100%;
    height: 301px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 10px #707070;
    -moz-box-shadow: 0px 0px 10px #707070;
    box-shadow: 0px 0px 10px #707070;
}
.mainSlider .sliderItems {
    float: left;
    width: 648px;
    position: relative;
}
.mainSlider .sliderPicture {
    height: 301px;
}
.mainSlider .sliderPicture img {
    max-width: 100%;
}
.mainSlider .currentItemInfo {
    margin-left: 648px;
    position: relative;
    width: 265px;
    float: left;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    padding-left: 32px;
    padding-right: 25px;
    padding-top: 39px;
    height: 263px;
    line-height: normal;
}
.currentItemInfo .itemHeader {
    font-size: 18px;
    margin-bottom: 15px;
}
.currentItemInfo .goToRazdel {
    text-align: right;
    margin-top: 21px;
}
.currentItemInfo a {
    display: inline-block;
    background: #148755;
    background: -moz-linear-gradient(top, #148755 0%, #07452a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148755), color-stop(100%,#07452a));
    background: -webkit-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -o-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -ms-linear-gradient(top, #148755 0%,#07452a 100%);
    background: linear-gradient(to bottom, #148755 0%,#07452a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148755', endColorstr='#07452a',GradientType=0 );
    color: #fff;
    text-decoration: none;
    width: 118px;
    height: 22px;
    -webkit-box-shadow: inset 0px 1px 0px #68E4AE;
    -moz-box-shadow: inset 0px 1px 0px #68E4AE;
    box-shadow: inset 0px 1px 0px #68E4AE;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 3px;
}
.currentItemInfo .itemText {
    color:#2d2a05;
    font-size: 12px;    
}
.rightArrow {
    background: url(../img/newxSlider.png) no-repeat;
    background-position: 11px 130px;
    width: 48px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 320px;
}
.leftArrow {
    background: url(../img/prevSlider.png) no-repeat;
    background-position: 20px 130px;
    width: 63px;
    height: 87%;
    position: absolute;
    top: 0px;
    left: 0;
}
.sliderPagination {
    position: absolute;
    bottom: 20px;
    left: 35px;
    z-index: 110;
    margin: 0;
    padding: 0;
}
.sliderPagination a {
    background: #0b522b;
    display: inline-block;
    text-decoration: none;
    width: 14px;
    height: 15px;
    margin-right: 3px;
    border: 1px solid white;
    border-radius: 5px;
}
.sliderPagination .current {
    background: #1d9f58;
}
.sliderItem {
    width: 648px;
    position: absolute;
    left: 100%;
}
.content {
    /*background: url(../img/mainBG.png) no-repeat scroll;*/
    height: 100%;
    margin-top: 26px;
    min-height: 1000px;
}
.wrapperMain {
    width: 970px;
    margin: 0 auto;
    line-height: normal;
}
.wrapperMain .leftCol {
    width: 217px;
    margin-right: 15px;
    float: left;
}
.leftCol .catalogMenu {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c5c5c5;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 15px;
}
.leftCol .catalogMenu .catalogHeader {
    position: relative;
    height: 25px;
    background: #148755;
    background: -moz-linear-gradient(top, #148755 0%, #07452a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148755), color-stop(100%,#07452a));
    background: -webkit-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -o-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -ms-linear-gradient(top, #148755 0%,#07452a 100%);
    background: linear-gradient(to bottom, #148755 0%,#07452a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148755', endColorstr='#07452a',GradientType=0 );
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    color: #ffffff;
    font-size: 18px;
    padding: 9px 5px 5px 30px;
    font-family: "BenderLight", 'sans-serif';
    -webkit-box-shadow: inset 0px -1px 0px #68E4AE;
    -moz-box-shadow: inset 0px -1px 0px #68E4AE;
    box-shadow: inset 0px -1px 0px #68E4AE;

}
.leftCol .catalogMenu .catalogHeader:after {
    content: ' ';
    position: absolute;
    width: 62px;
    height: 39px;
    top: 0;
    right: 0;
    background: url(../img/catalogHeadImg.png) no-repeat;
}
.leftCol .catalogMenu .catalogItems {
    padding: 17px 10px 0px 30px;
    margin: 0;
}
.leftCol .catalogMenu .catalogItems li {
    list-style-image: url(../img/catalogItemImg.png);
    font-size: 14px;
    margin-bottom: 14px;
}
.leftCol .catalogMenu .catalogItems a {
    text-decoration: none;
    color: #000;
}
.leftCol .catalogMenu .catalogItems a:hover {
    text-decoration: underline;
}
.leftCol .calculator {
    position: relative;
    font-family: "BenderLight", 'sans-serif';
    background: #148755;
    background: -moz-linear-gradient(top, #148755 0%, #07452a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148755), color-stop(100%,#07452a));
    background: -webkit-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -o-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -ms-linear-gradient(top, #148755 0%,#07452a 100%);
    background: linear-gradient(to bottom, #148755 0%,#07452a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148755', endColorstr='#07452a',GradientType=0 );
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 12px;
    padding-top: 7px;
    /* border-top: 1px solid #9cffd4; */
    -webkit-box-shadow: inset 0px 1px 0px #68E4AE, 1px 0px 2px rgba(0,0,0, 0.75);
    -moz-box-shadow: inset 0px 1px 0px #68E4AE, 1px 0px 2px rgba(0,0,0, 0.75);
    box-shadow: inset 0px 1px 0px #68E4AE, 1px 0px 2px rgba(0,0,0, 0.75);
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 12px 11px;
    margin-bottom: 15px;
}
.leftCol .calculator:after {
    content: ' ';
    position: absolute;
    width: 62px;
    height: 37px;
    top: 0;
    right: 0;
    background: url(../img/mainCalcImg.png) no-repeat;
}
.leftCol .grafics {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c5c5c5;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    text-align: center;
    padding: 22px;
    margin-bottom: 19px;
}
.leftCol .grafics a {
    margin-bottom: 34px;
    display: block;
}
.leftCol .grafics a:last-child {
    margin-bottom: 0;
}
.leftCol .popularProducts {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c5c5c5;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}
.leftCol .popularProducts .populaProductsHeader {
    position: relative;
    background: #148755;
    background: -moz-linear-gradient(top, #148755 0%, #07452a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148755), color-stop(100%,#07452a));
    background: -webkit-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -o-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -ms-linear-gradient(top, #148755 0%,#07452a 100%);
    background: linear-gradient(to bottom, #148755 0%,#07452a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148755', endColorstr='#07452a',GradientType=0 );
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 5px 3px 29px;
    font-family: "BenderLight", 'sans-serif';
    -webkit-box-shadow: inset 0px -1px 0px #68E4AE;
    -moz-box-shadow: inset 0px -1px 0px #68E4AE;
    box-shadow: inset 0px -1px 0px #68E4AE;
    line-height: 0.9;
    overflow: hidden;
}
.leftCol .popularProducts .populaProductsHeader:after {
    content: ' ';
    position: absolute;
    width: 62px;
    height: 44px;
    top: 0;
    right: 0;
    background: url(../img/popularProductImg.png) no-repeat;
    background-size: 100% 100%;
}
.leftCol .popularProductsItems {
    margin: 0;
    padding: 17px 10px 0px 30px;
}
.leftCol .popularProducts a:hover {
    text-decoration: none;
}
.leftCol .popularItem {
    list-style-image: url(../img/catalogItemImg.png);
    font-size: 12px;
    position: relative;
    margin-bottom: 4px;
    padding-bottom: 6px;
    border-bottom: 1px solid #EDEDED;
}
.leftCol .popularItem .popularItemHeader {
    display: block;
    color: #0C7849;;
    font-family: "BenderRegular", 'sans-serif';
}
.leftCol .popularItem .popularItemText {
    font-family: "BenderRegular", 'sans-serif';
    line-height: 1.2;
}
.leftCol .popularItem .readMore {
    margin-top: 6px;
    font-size: 12px;
    text-align: right;
    color: #0C7849;;
    display: block;
    float: right;
}
.clearfixAfter:after {
    content: ' ';
    display: table;
    clear: both;
}
.leftCol .popularProducts .allNewsMain {
    padding-right: 8px;
    height: 39px;
}
.leftCol .popularProducts .allNewsMain a {
    color: #087a49;
    font-size: 14px;
    display: block;
    margin-top: 6px;
    text-align: right;
    color: #0C7849;;
    float: right;
}
.catalogContent {
    border:1px solid #c5c5c5;
    border-radius: 10px;
    float: left;
    width: 736px;
    overflow: hidden;
}
.catalogContent .catalogItem {
    float: left;

}
.catalogContent .catalogItem img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.2s ease-in;
}
.catalogContent .catalogItem img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 0 0\'/></filter></svg>#grayscale");
    -webkit-filter: gray;
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.2s ease-in;
}
.catalogContent .catalogItem:first-child {
    width: 372px;   
}
.catalogContent .catalogItem:first-child img {
    border-radius: 10px 0 0 0;
}
.catalogContent .catalogItem {
    position: relative;
}
.catalogContent .catalogItem img {
    max-width: 100%;
    max-height: 100%;
}
.catalogContent .catalogItem:nth-child(2) {
    width: 364px;
    height: 243px;

} 
.catalogContent .catalogItem:nth-child(2) img {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 0 10px 0 0;
} 
.catalogContent .catalogItem:nth-child(3) {
    width: 204px;
} 
.catalogContent .catalogItem:nth-child(4) {
    width: 330px;
    background: green;
} 
.catalogContent .catalogItem:nth-child(5) {
    width: 330px;
    background: rgb(116, 51, 187);
}
.catalogContent .catalogItem:nth-child(6) {
    width: 202px;
    margin-top: -203px;
} 
.catalogContent .catalogItem:nth-child(6) .itemName {
    padding-left: 9px;
    padding-right: 9px;
}
.catalogContent .catalogItem:nth-child(7) {
    width: 204px;
}
.catalogContent .catalogItem:nth-child(7) img {
    border-bottom-left-radius: 10px;
}
.catalogContent .catalogItem:nth-child(8) {
    width: 168px;
}
.catalogContent .catalogItem:nth-child(9) {
    width: 162px;
}
.catalogContent .catalogItem:nth-child(9) .itemName {
    padding-left: 9px;
    padding-right: 9px;
}
.catalogContent .catalogItem:nth-child(10) {
    width: 202px;
}
.catalogContent .catalogItem:nth-child(10) .itemName {
    padding-left: 8px;
    padding-right: 8px;
}
.catalogContent .catalogItem:nth-child(11) {
    width: 330px;
}
.catalogContent .catalogItem:nth-child(11) .itemName {
    width: 165px
}
.catalogContent .catalogItem:nth-child(12) {
    width: 202px;
    height: 141px;
}
.catalogContent .catalogItem:nth-child(12) img {
    width: 100%;
    height: 100%;
}
.catalogContent .catalogItem:nth-child(12) .itemName {
    padding-left: 8px;
    padding-right: 8px;
}
.catalogContent .catalogItem .itemName {
    display: block;
    position: absolute;
    top: 31px;
    left: 0;
    background: #148755;
    background: -moz-linear-gradient(top, #148755 0%, #07452a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148755), color-stop(100%,#07452a));
    background: -webkit-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -o-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -ms-linear-gradient(top, #148755 0%,#07452a 100%);
    background: linear-gradient(to bottom, #148755 0%,#07452a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148755', endColorstr='#07452a',GradientType=0 );
    color: #fff;
    font-family: "BenderLight", 'sans-serif';
    min-height: 20px;
    height: auto !important;
    height: 29px;
    padding: 6px 0px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 1px 1px 0px rgba(22,126,82,0.75);
    -moz-box-shadow: 1px 1px 0px rgba(22,126,82,0.75);
    -ms-box-shadow: 1px 1px 0px rgba(22,126,82,0.75);
    box-shadow: 1px 1px 0px rgba(22,126,82,0.75);
    margin-right: 10px;
}

#footer {
    margin-top: 36px;
}
.footWrapper {
    width: 926px;
    padding: 0px 22px;
    padding-top: 25px;
    padding-bottom: 15px;
    margin: 0 auto;
    background: url(../img/footerBG.png) top center no-repeat scroll, rgb(13,137,78); /* Old browsers */
    background: url(../img/footerBG.png) top center no-repeat scroll, -moz-linear-gradient(top,  rgba(13,137,78,1) 0%, rgba(11,70,35,1) 100%); /* FF3.6+ */
    background: url(../img/footerBG.png) top center no-repeat scroll, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(13,137,78,1)), color-stop(100%,rgba(11,70,35,1))); /* Chrome,Safari4+ */
    background: url(../img/footerBG.png) top center no-repeat scroll, -webkit-linear-gradient(top,  rgba(13,137,78,1) 0%,rgba(11,70,35,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(../img/footerBG.png) top center no-repeat scroll, -o-linear-gradient(top,  rgba(13,137,78,1) 0%,rgba(11,70,35,1) 100%); /* Opera 11.10+ */
    background: url(../img/footerBG.png) top center no-repeat scroll, -ms-linear-gradient(top,  rgba(13,137,78,1) 0%,rgba(11,70,35,1) 100%); /* IE10+ */
    background: url(../img/footerBG.png) top center no-repeat scroll, linear-gradient(to bottom, rgba(13,137,78,1) 0%,rgba(11,70,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d894e', endColorstr='#0b4623',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0px 1px 0px #68E4AE, 1px 0px 1px rgba(0,0,0, 0.75);
    -moz-box-shadow: inset 0px 1px 0px #68E4AE, 1px 0px 1px rgba(0,0,0, 0.75);
    box-shadow: inset 0px 1px 0px #68E4AE, 1px 0px 1px rgba(0,0,0, 0.75);
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
}
.footMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "BenderRegular", 'sans-serif';
    margin-left: 23px;
    float: left;
}
.footMenuLink {
    display: block;
    float: left;
    min-width: 105px;
}
.footMenuLink:nth-child(3) {
    margin-left: 20px;
}
.footMenuLink:nth-child(5) {
    margin-right: 34px;
}
.footMenuLink:last-child {
    min-width: 0;
    width: auto;
}
.footMenuLink:nth-child(3) .footSubMenu {
    width: 162px;
}
.footMenuLink a {
    color: #001d0d;
    font-size: 14px;
    text-decoration: none;
}
.footMenuLink > a {
    border-bottom: 1px solid black;
    padding-bottom: 4px;
} 
.footSubMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "BenderLight", 'sans-serif';
    line-height: 0.9;
    padding-left: 1px;
    margin-top: 10px;
}
.footSubMenu li a {
    color: #dffbec;
    text-decoration: none;
    font-size: 12px;
}
.footSubMenu li a:hover {
    text-decoration: underline;
}
.footCompanyInfo {
    float: right;
    font-family: "BenderLight", 'sans-serif';
    color: #fff;
    text-align: right;
}
.footCompanyInfo a {
    color: #fff;
}
.footCompanyInfo .footAdr {
    font-size: 14px;
    line-height: 1.2;
    padding-top: 4px;
}
.contactsInfo {
    font-size: 16px;
    font-size: 16px;
    margin-top: 17px;
    line-height: 1.2;
}
.contactsInfo .tel a{
    cursor: default;
}
.contactsInfo a {
    text-decoration: none;
}
.copyRight {
    font-size: 14px;
    margin-top: 28px;
    line-height: 1.3;
}
.copyRight p {
    margin: 0;
    color: #27c77a;
}
.dopInfo .tel {
    cursor: default;
}
img {
    max-width: 100%;

}

.catalogContent .SectionHeader {
    font-size: 18px;
    font-family: "BenderRegular", 'sans-serif';
    margin-bottom: 5px;
}

.breadcrumbs {
    padding-top: 16px;
    color: #131313;
    font-family: "BenderRegular", 'sans-serif';
    font-size: 14px;
    margin-bottom: 15px;
}
.breadcrumbs a {
    font-size: 14px;
    color: #131313;
}
.breadcrumbs img {
    padding: 0px 4px;
}
.catalogSection {
    background: #fff;
    padding: 12px 21px 23px 14px;
}
.catalogSection .catalogSectionHeader {
    margin: 0;
    font-size: 18px;
    font-family: "BenderRegular", 'sans-serif';
    margin-bottom: 5px;
}
.catalogSectionItems .catalogSectionItem {
    padding-left: 1px;
}
.catalogSectionItem .itemHeader {
    font-family: "Tahoma", 'sans-serif';
    font-weight: bold;
    font-size: 15px;
    color: #0e5c2f;
}
.catalogSectionItem .itemDetail {
    font-size: 12px;
    text-align: right;
    color: #0C7849;;
    display: block;
    float: right;
}
.catalogSectionItem .itemInfo {
    font-size: 12px;
    line-height: 1.5;
}
.innerContent {
    border:1px solid #c5c5c5;
    border-radius: 10px;
    float: left;
    width: 736px;
    overflow: hidden;
}
.section {
    background: #fff;
    padding: 12px 21px 23px 14px;
}
.section .SectionHeader {
    margin: 0;
    font-size: 18px;
    font-family: "BenderRegular", 'sans-serif';
    margin-bottom: 5px;
}
.contactInfo {
    font-size: 12px;
    font-family: "Tahoma", 'sans-serif';
}
.contactInfo .compName {
    display: inline-block;
}
.contactInfo .compName {
    font-family: "Tahoma", 'sans-serif';
    font-weight: bold;
    font-size: 14px;
    color: #0e5c2f;
    width: 338px;
}
.contactInfo .rekviziti {
    font-family: "Tahoma", 'sans-serif';
    font-size: 14px;
    color: #0e5c2f;
}
.contactInfo .contAddr {
    font-size: 12px;
    margin-top: 3px;
    letter-spacing: 0.3px;
}
.contactInfo .telBloc {
    line-height: 1.5;
}
.contactInfo .telephone {
    color: #0C7849;
    margin-left: 6px;
}
.contactInfo .telephone.second {
    color: #0C7849;
    margin-left: 34px;
}
.contactInfo .email {
    color: #0C7849;
    margin-left: 6px;
}
.contactInfo .faqs {
    color: #0C7849;
}
.contactInfo .emailBlock {
    margin-top: 4px;
    margin-left: 1px;
}
.contactInfo #map {
    margin-top: 10px;
    margin-bottom: 35px;
}
.contactInfo .roadMap {
    margin-bottom: 13px;
}
.roadMap .companies {
    float: left;
    width: 160px;
    margin-right: 14px;
}
.roadMap #mapRoad {
    float: right;
    width: 527px;
    height: 186px;
} 
.roadMap .roadMapInfo {
    font-size: 14px;
    color: #0C7849;
    margin-left: 9px;
} 
.roadMap .companies a {
    display: block;
    font-size: 12px;
    color: #484848;
    margin-bottom: 4px;
    margin-left: 9px;
}
.faqItems {
    font-size: 12px;
    font-family: "Tahoma", 'sans-serif';
}
.faqItem .autor {
    color: #008149;
}
.faqItem .question {
    margin-top: 4px;
    line-height: 1.5;
    margin-bottom: 13px;
}
.faqItem .answer {
    line-height: 1.3;
}
.faqItem .answerHeader {
    color: #0C803F;
    font-weight: bold;
    margin-right: 3px;
}
.faqItem {
    padding-bottom: 5px;
    border-bottom: 1px solid #e3e3e3;
    margin-top: 19px;
}
.faqItem:first-child {
    margin-top: 0;
}
.faqItem:last-child{
    border: none;
}
.pagination {
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: table;
    width: 100%;
    font-size: 12px;
    margin-top: 67px;
}
.pagination a {
    text-decoration: none;
}
.pagination .prevPage {
    background: url(../img/pagin_left.png) center no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
}
.pagination .prevPage a {
    height: 20px;
    width: 20px;
    display: block;
}
.pagination .nextPage {
    background: url(../img/pagin_right.png) center no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
}
.pagination ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0px 9px;
}
.pagination li {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.pagination li:first-child {
    margin-left: 0;
}
.pagination li:last-child {
    margin-right: 0;
}
.pagination li.active {
    background: #1d9f58;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.pagination li.active a {
    color: #fff;
}
.pagination li:hover {
    background: #1d9f58;
    border-radius: 5px;
}
.pagination li:hover a {
    color: #fff;
}
.pagination li a {
    text-decoration: none;
    color: #545454;
    display: block;
    width: 100%;
    height: 100%;
}
.historySection {
    font-size: 12px;
    font-family: "Tahoma", 'sans-serif';
}
.historySection p {
    margin-left: 2px;
    line-height: 1.2;
    margin-bottom: 16px;
    margin-top: 13px;
}
.historySection p:first-child {
    margin-top: 0;
}
.historySection .historyBold {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    font-family: "Tahoma", 'sans-serif';
    margin-bottom: 0;
}
.historySection .historyList {
    margin-top: 5px;
    line-height: 1.6;
    color: #0b5b39;
}
.historySection .sotrudnichestvo {
    color: #0C803F;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Tahoma", 'sans-serif';
}
.historySection .historyList span {
    color: #222;
}
.news {
    font-size: 12px;
    font-family: "Tahoma", 'sans-serif';
}
.newsItem .newsHeader {
    color: #008149;
}
.newsItem .date {
    color: #666;
}
.newsItem .newsText {
    margin-top: 4px;
    margin-bottom: 13px;
}
.newsItem {
    border-bottom: 1px solid #e3e3e3;
    margin-top: 16px;
}
.newsItem:first-child {
    margin-top: 0;
}
.newsItem:last-child{
    border: none;
}
.search .searchItem {
    padding-left: 1px;
    margin-bottom: 14px;
}
.searchItem .itemHeader {
    font-family: "Tahoma", 'sans-serif';
    font-weight: bold;
    font-size: 15px;
    color: #0e5c2f;
}
.searchItem .itemDetail {
    font-size: 12px;
    text-align: right;
    color: #0C7849;;
    display: block;
    float: right;
}
.searchItem .itemInfo {
    font-size: 12px;
    line-height: 1.5;
}
.searchForm .searchArea {
    height: 28px;
    box-sizing: border-box;
    font-family: "Tahoma", 'sans-serif';
    margin-top: 3px;
    margin-left: 2px;
    width: 209px;
    border-radius: 4px;
    border: none;
    border: 1px solid #bfbfbf;
    margin-top: 3px;
    float: left;
}
.searchForm .searchArea::-webkit-input-placeholder {
    font-family: "Tahoma", 'sans-serif';
    font-size: 12px;
    padding-left: 10px;
    color: #cdcdcd;
    line-height: 1.5;
}
.searchForm .searchArea::-moz-placeholder          {
    font-family: "Tahoma", 'sans-serif';
    font-size: 12px;
    padding-left: 10px;
    color: #cdcdcd;
    line-height: 1.5;
    }/* Firefox 19+ */
.searchForm .searchArea:-moz-placeholder           {
    font-family: "Tahoma", 'sans-serif';
    font-size: 12px;
    padding-left: 10px;
    color: #cdcdcd;
    line-height: 1.5;
    }/* Firefox 18- */
.searchForm .searchArea:-ms-input-placeholder {
    font-family: "Tahoma", 'sans-serif';
    font-size: 12px;
    padding-left: 10px;
    color: #cdcdcd;
    line-height: 1.5;
}
.searchForm input[type="submit"] {
    background: #148755;
    background: -moz-linear-gradient(top, #148755 0%, #07452a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148755), color-stop(100%,#07452a));
    background: -webkit-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -o-linear-gradient(top, #148755 0%,#07452a 100%);
    background: -ms-linear-gradient(top, #148755 0%,#07452a 100%);
    background: linear-gradient(to bottom, #148755 0%,#07452a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148755', endColorstr='#07452a',GradientType=0 );
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 13px;
    padding-top: 2px;
    /* border-top: 1px solid #9cffd4; */
    -webkit-box-shadow: inset 0px 1px 0px #68E4AE, 1px 0px 2px rgba(0,0,0, 0.75);
    -moz-box-shadow: inset 0px 1px 0px #68E4AE, 1px 0px 2px rgba(0,0,0, 0.75);
    box-shadow: inset 0px 1px 0px #68E4AE, 1px 0px 2px rgba(0,0,0, 0.75);
    width: 66px;
    height: 27px;
    border: none;
    font-size: 12px;
    height: 28px;
    box-sizing: border-box;
    font-family: "Tahoma", 'sans-serif';
    color: #fff;
    float: left;
    margin-top: 3px;
    margin-left: 7px;
}
.searchResult {
    color: #0b4724;
    font-family: "Tahoma", 'sans-serif';
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 14px;
}
.searchItem .itemSection {
    font-family: "Tahoma", 'sans-serif';
    font-size: 10px;
    color: #626262;
    margin-top: 5px;
    margin-bottom: 3px;
}
.searchItem .itemSection .itemSectionLink {
    color: #626262;
}
.sertificates {
    font-size: 12px;
    font-family: "Tahoma", 'sans-serif';
}
.sertificates p {
    margin: 0;
}
.sertificatItems {
    margin-top: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.sertificateItem {
    width: 214px;
    float: left;
    margin-right: 29px;
    margin-bottom: 20px;
}
.sertificateItem:nth-child(3n) {
    margin: 0;
}
.sertificateItem img {
    display: block;
    width: 214px;
    height: 307px;
}
.sertificateItem .sertificName {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 80%;
    margin: 10px auto;
}
.vacancySection {
    font-size: 12px;
    font-family: "Tahoma", 'sans-serif';
}
.vacancySection p {
    margin-left: 2px;
    line-height: 1.2;
    margin-bottom: 16px;
    margin-top: 17px;
}
.vacancySection p:first-child {
    margin-top: 0;
}
.vacancySection .vacancyHeader {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    font-family: "Tahoma", 'sans-serif';
    margin-bottom: 0;
}
.vacancySection .vacancyList {
    margin-top: 5px;
    line-height: 1.6;
    color: #0b5b39;
    padding-left: 33px;
}
.vacancySection .vacancyList span {
    color: #222;
}